body{
    margin:0;
    font-family:Arial, Helvetica, sans-serif;
    color:white;

    background: radial-gradient(circle at top, #1a1a1a, #0a0a0a);
}

/* HERO */

.hero{
    height:100vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
    padding:20px;
}

h1{
    font-size:50px;
    color:#ff2d2d;
    margin-bottom:10px;
}

.mini{
    opacity:0.7;
    margin-bottom:30px;
}

/* BUTTONS */

.buttons{
    display:flex;
    gap:15px;
}

.btn{
    padding:15px 25px;
    text-decoration:none;
    border-radius:8px;
    font-weight:bold;
}

.red{
    background:#ff2d2d;
    color:white;
}

.dark{
    background:#222;
    color:white;
}

/* SERVICES */

.services{
    padding:60px 20px;
    text-align:center;
}

.grid{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(150px,1fr));
    gap:15px;
    margin-top:20px;
}


.card{
    background:#1c1c1c;
    padding:20px;
    border-radius:10px;
    transition:0.3s;
}

.card:hover{
    transform: translateY(-5px);
    background:#252525;
}
/* WHY */

.why{
    padding:60px 20px;
    text-align:center;
}

ul{
    list-style:none;
    padding:0;
}

li{
    margin:10px 0;
}

/* FOOTER */

footer{
    text-align:center;
    padding:30px;
    background:#000;
    margin-top:40px;
}
.hero{
    background: linear-gradient(145deg, #111, #0a0a0a);
    box-shadow: 0 0 40px rgba(255,0,0,0.15);
    border-bottom: 1px solid rgba(255,255,255,0.05);
}
.call-fixed{
    position:fixed;
    bottom:20px;
    right:20px;
    background:#ff2d2d;
    color:white;
    padding:15px 20px;
    border-radius:50px;
    text-decoration:none;
    font-weight:bold;
    box-shadow:0 10px 20px rgba(0,0,0,0.4);
    z-index:999;
    transition:0.3s;
}

.call-fixed:hover{
    transform:scale(1.05);
}
.zone{
    padding:60px 20px;
    text-align:center;
    background:#0d0d0d;
    border-top:1px solid rgba(255,255,255,0.05);
}